.Users{

  display: flex;
  height: 100vh;
  background-color: #99afc7;
  justify-content: center;
  align-items: center;
}

.Usersctn{

  width: 50%;
   
  /* Appliquer une couleur de fond blanche */
    background-color: #ffffff; /* Couleur blanche */
  /* Arrondir les coins */
  border-radius: 0.5rem; /* Ajustez la valeur pour obtenir l'arrondi souhaité */

  /* Ajouter un remplissage intérieur de 3 unités */
  
padding: 1rem; /* 1rem = 16px, ajustez la valeur selon vos besoins */
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  
}

/* Style pour le conteneur avec une marge inférieure de taille moyenne */
.mb-2 {
  margin-bottom: 0.5rem; /* Taille de la marge inférieure */
}

/* Style pour l'étiquette "Name" */
.mb-2 label {
  display: block; /* Afficher l'étiquette comme un bloc pour occuper toute la largeur */
  font-weight: bold; /* Mettre en gras le texte de l'étiquette */
  margin-bottom: 0.5rem; /* Ajouter une marge inférieure pour espacer l'étiquette du champ de saisie */
}

/* Style pour le champ de saisie "Enter Name" */
.mb-2 input[type='text'] {
  width: 100%; /* Définir la largeur du champ de saisie sur 100% pour qu'il s'adapte au conteneur */
  padding: 0.5rem; /* Ajouter un rembourrage autour du champ de saisie */
  border: 1px solid #ced4da; /* Ajouter une bordure */
  border-radius: 0.25rem; /* Ajouter un rayon de bordure arrondi */
  box-sizing: border-box; /* Inclure le rembourrage et la bordure dans la largeur et la hauteur totales */
}

/* Style pour le champ de saisie en cas de focus */
.mb-2 input[type='text']:focus {
  outline: none; /* Supprimer la bordure de mise au point par défaut */
  border-color: #007bff; /* Modifier la couleur de la bordure en cas de focus */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Ajouter une ombre de mise au point */
}

.btn-button {
  background-color: #222f22; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte */
  padding: 0.5rem 1rem; /* Rembourrage du bouton */
  border: none; /* Suppression de la bordure */
  border-radius: 0.50rem; /* Rayon de bordure arrondi */
  cursor: pointer; /* Curseur de pointeur au survol */
  text-decoration: none;
  font-weight: bold; /* Met le texte en gras */
  font-size: 1.2em; 
}

.btn-button:hover {
  background-color: #22b922; /* Couleur de fond au survol */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Ajoute une ombre au survol */
}

/* Style au clic du bouton de soumission */
.btn-button:active {
  background-color: #6a7d91; /* Couleur de fond lors du clic */
}

.btn-button delete-button {
  margin-right: 0.5rem; /* Ajouter une marge à droite pour créer un espace entre les boutons */
  background-color: #ee1717; /* Couleur de fond lors du clic */
}

h2{ 

  font-weight: bold; /* Met le texte en gras */
  font-size: 1.2em; 
  color: #6a7d91;
}

.delete-button {
    
}